<div class="container">
    <h1 class="redTextHighlight">Welcome to {{name}} Page.</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum tincidunt arcu, eleifend dictum ante. Duis vitae metus semper, interdum massa vel, maximus libero. Suspendisse quis mattis enim. Maecenas gravida, enim ut eleifend sagittis, arcu nisl commodo felis, sed faucibus odio lorem vitae arcu. Cras dapibus, justo eget fringilla sollicitudin, ligula dui ullamcorper massa, quis tristique libero magna sed ante. Proin placerat euismod congue. In ultricies gravida tellus, et maximus augue pretium vitae. Nam at eleifend lacus. Nulla feugiat, metus et ornare molestie, nisi velit consequat tellus, a laoreet diam nunc ac ipsum. Sed sit amet felis mollis, accumsan dui eget, viverra diam. Vestibulum a cursus quam.
    </p>
</div>

	
