<div ng-controller="shopnowcontroller">

</div>
<ol class="breadcrumb">
    <li>
        <a href="#home" class="highlightText">Home</a>
    </li>
    <li>
        <a href="#gridshop" class="highlightText">Grid/List</a>
    </li>
    <li class="active">
        <a href="#shopnow" class="highlightText">Shop Now</a>
    </li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img ng-src="{{firstimg}}" alt="{{guitarshopnow.name}}" title="{{guitarshopnow.name}}" class="guitarimg"/>
        </div><!--col-md-2-->
        <div class="col-md-10">
            <div class="guitarmaindetails">
                <h4 class="guitarSpecialDetails">{{guitarshopnow.name}}</h4>
                <p class="guitarSpecialDetails">{{guitarshopnow.price}}</p>
                <p><span class="guitarSpecialDetails">Stock Availability: </span>{{guitarshopnow.stockavailability}}</p>
                <button type="button" class="btn btn-danger highlightText" ng-click="go('/buy')">Buy</button>
            </div>
        </div><!--col-md-10-->
    </div><!--row-->
    <div class="container-fluid">
        <custom-carousel data="imagedata" changeimg="changeimg(img)"></custom-carousel>
    </div><!--container-fluid-->    
        
       <uib-accordion>
            <uib-accordion-group class="panel-danger" heading="Product Description">
                {{guitarshopnow.productdiscription}}
            </uib-accordion-group>
    
            <uib-accordion-group class="panel-danger" heading="Cutomer Reviews">
                {{guitarshopnow.custmerreviews}}
            </uib-accordion-group>
    
            <uib-accordion-group class="panel-danger" heading="Shipping Details">
                {{guitarshopnow.shippingdetails}}
            </uib-accordion-group>
        </uib-accordion>
</div><!--container-->
 

 
