<div ng-controller="shopnowcontroller">

</div>
<ol class="breadcrumb">
    <li>
        <a href="#home" class="highlightText">Home</a>
    </li>
    <li>
        <a href="#gridshop" class="highlightText">Grid/List</a>
    </li>
    <li class="active">
        <a href="#shopnow" class="highlightText">Shop Now</a>
    </li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img ng-src="{{firstimg}}" alt="{{guitarshopnow.name}}" title="{{guitarshopnow.name}}" class="guitarimg"/>
        </div><!--col-md-2-->
        <div class="col-md-10">
            <div class="guitarmaindetails">
                <h4 class="guitarSpecialDetails">{{guitarshopnow.name}}</h4>
                <p class="guitarSpecialDetails">{{guitarshopnow.price}}</p>
                <p><span class="guitarSpecialDetails">Stock Availability: </span>{{guitarshopnow.stockavailability}}</p>
                <button type="button" class="btn btn-danger highlightText" ng-click="go('/buy')">Buy</button>
            </div>
        </div><!--col-md-10-->
    </div><!--row-->
    <div class="container-fluid">
        <div class="guitarCarousel col-md-offset-2 col-md-8">
            <span ng-repeat="Gimage in imageCollection" ng-class="{next:nextButton,prev:prevButton}">
                <img ng-src="{{Gimage}}" style="margin:5px 20px;display:inline-block;" class="thumbnail guitarimg" ng-click="changeimg(Gimage)">
            </span>
            
        <button class="btn btn-danger carouselBtnLeft" ng-click="prev()" ng-disabled="firstElement">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger carouselBtnRight" ng-click="next()" ng-disabled="lastElement">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
        </div>
    </div><!--row-->    
        
       <uib-accordion>
            <uib-accordion-group class="panel-danger" heading="Product Description">
                {{guitarshopnow.productdiscription}}
            </uib-accordion-group>
    
            <uib-accordion-group class="panel-danger" heading="Cutomer Reviews">
                {{guitarshopnow.custmerreviews}}
            </uib-accordion-group>
    
            <uib-accordion-group class="panel-danger" heading="Shipping Details">
                {{guitarshopnow.shippingdetails}}
            </uib-accordion-group>
        </uib-accordion>
</div><!--container-->
 

 
