<div class="jumbotron">
	<div class="container">
		<h1 class="redTextHighlight">Thank You For Shopping</h1>
    </div>	
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Information:</h3>
                </div><!--panel-heading-->
                <div class="panel-body text-capitalize">
                    <div class="row">
                        <div class="redTextHighlight col-md-3"><span>Customer Name: </span></div>
                        <div class="col-md-9"><span>{{paymentData.firstname+" "+ paymentData.lastname}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Contact Number: </span></div>
                        <div class="col-md-9"><span>{{paymentData.contactno}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Email: </span></div>
                        <div class="col-md-9"><span>{{paymentData.email}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Product Name: </span></div>
                        <div class="col-md-9"><span>{{paymentData.productname}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Shipping Address: </span></div>
                        <div class="col-md-9"><span>{{paymentData.address}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Total Amount: </span></div>
                        <div class="col-md-9"><span>{{paymentData.price}}</span></div>
                        <div class="redTextHighlight col-md-3"><span>Payment Date:</span></div>
                        <div class="col-md-9"><span>{{paymentData.paymentdate}}</span></div>
                    </div>
                    
                </div><!--panel-body-->
            </div><!--panel-->

        </div><!--col-md-6-->
    </div><!--row--> 
</div><!--container-fluid-->
