<div ng-controller="gridshopcontroller" class="body-content content">
    <ul class="layoutNav nav nav-pills container-fluid">
      <li role="presentation">
          <a href="#listshop" class="btn btn-danger" title="List view"><i class="fa fa-th-list" aria-hidden="true"></i> <span class="hidden-xs">List View</span></a>
      </li>
      <li role="presentation">
          <a href="#gridshop" class="btn btn-danger" title="Grid view"><i class="fa fa-th-large" aria-hidden="true"></i> <span class="hidden-xs">Grid View</span></a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="row gridContainer">
                <div ng-repeat="guitar in shopguitardata" class="guitarContent col-xs-12 col-sm-5 col-md-3 col-lg-2 text-center">
                    <a href="#shopnow" ng-click="storage(guitar)"><img ng-src="{{guitar.imagepath[0]}}" class="guitarimg" alt="{{guitar.name}}" title="{{guitar.name}}"></a>
                        <div class="gridGeneralInfo">
                            <p class="guitarGridName text-left">
                                <a href="#shopnow" ng-click="storage(guitar)">{{guitar.name}}</a>
                            </p>
                            <div class="gridPurchaseInfo">
                                <span class="guitarSpecialDetails">{{guitar.price}}</span>
                            </div><!--gridPurchaseInfo-->
                        </div><!--gridGeneralInfo-->
                </div><!--guitarContent-->
        </div><!--gridContainer-->
    </div><!--container-fluid-->
</div>
