<div class="body-content content">
    <ul class="layoutNav nav nav-pills container-fluid">
      <li role="presentation">
          <a href="#listshop" class="btn btn-danger" title="List view"><i class="fa fa-th-list" aria-hidden="true"></i> <span class="hidden-xs">List View</span></a>
      </li>
      <li role="presentation">
          <a href="#gridshop" class="btn btn-danger" title="Grid view"><i class="fa fa-th-large" aria-hidden="true"></i> <span class="hidden-xs">Grid View</span></a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div ng-repeat="guitar in shopguitardata">
                    <div class="col-md-2 listImgContainer text-center">
                        <a href="#shopnow" ng-click="storage(guitar)">
                            <img ng-src="{{guitar.imagepath[0]}}" alt="{{guitar.name}}" title="{{guitar.name}}" class="guitarimg">
                        </a>
                    </div><!--col-md-2-->
                    <div class="col-md-10" ng-class="{guitarListSeparator:!$last}">
                        <!--apply the guitarListSepartor only if it is not the last elemetnt-->
                        <p><a href="#shopnow" ng-click="storage(guitar)" class="guitarSpecialDetails">{{guitar.name}}</a></p>
                        <p class="guitarSpecialDetails">{{guitar.price}}</p>
                        <p><span class="guitarSpecialDetails">Availabity: </span>{{guitar.stockavailability}}</p>
                        <p><span class="guitarSpecialDetails">Customers Review:</span>{{guitar.custmerreviews}}</p>
                        <p class="hidden-xs"><span class="guitarSpecialDetails">No of Items Availabel:</span>{{guitar.noofitems}}</p>
                        <p class="hidden-xs"><span class="guitarSpecialDetails">Shipping Details:</span>{{guitar.shippingdetails}}</p>        
                    </div><!--col-md-10-->
            </div><!--ng-repeat-->
        </div><!--row-->
    </div><!--container-->
</div><!--body-content-->
