 <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed= true" ng-click="navCollapsed = !navCollapsed" id="headerbutton">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="#" class="navbar-brand highlightLink">
        Guitar Center
      </a>
    </div>
    <div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav navbar-right" >
         <li ng-repeat="list in navdirectivedata"><a ng-href="{{list.hhref}}" class="highlightLink">{{list.hname}}</a></li>
      </ul>
    </div>
  </div>
